Service References/ServiceRatp/Wsiv.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns0="http://wsiv.ratp.fr/xsd" xmlns:ns1="http://wsiv.ratp.fr" targetNamespace="http://wsiv.ratp.fr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
		RATP : Web Service Information Voyageur
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema xmlns:ax21="http://wsiv.ratp.fr/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://wsiv.ratp.fr/xsd">
      <xs:complexType name="GeoPoint">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="nameSuffix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="x" type="xs:double" />
          <xs:element minOccurs="0" name="y" type="xs:double" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Line">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="codeStif" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="realm" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="reseau" nillable="true" type="ax21:Reseau" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Reseau">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="WrDirections">
        <xs:sequence>
          <xs:element minOccurs="0" name="ambiguityMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ambiguousLines" nillable="true" type="ax21:Line" />
          <xs:element minOccurs="0" name="argumentLine" nillable="true" type="ax21:Line" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="directions" nillable="true" type="ax21:Direction" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Direction">
        <xs:sequence>
          <xs:element minOccurs="0" name="line" nillable="true" type="ax21:Line" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sens" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="stationsEndLine" nillable="true" type="ax21:Station" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Station">
        <xs:sequence>
          <xs:element minOccurs="0" name="direction" nillable="true" type="ax21:Direction" />
          <xs:element minOccurs="0" name="geoPointA" nillable="true" type="ax21:GeoPoint" />
          <xs:element minOccurs="0" name="geoPointR" nillable="true" type="ax21:GeoPoint" />
          <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="idsNextA" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="idsNextR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="line" nillable="true" type="ax21:Line" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Tarif">
        <xs:sequence>
          <xs:element minOccurs="0" name="demiTarif" type="xs:float" />
          <xs:element minOccurs="0" name="pleinTarif" type="xs:float" />
          <xs:element minOccurs="0" name="viaLine" nillable="true" type="ax21:Line" />
          <xs:element minOccurs="0" name="viaReseau" nillable="true" type="ax21:Reseau" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Mission">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="direction" nillable="true" type="ax21:Direction" />
          <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="line" nillable="true" type="ax21:Line" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="perturbations" nillable="true" type="ax21:Perturbation" />
          <xs:element minOccurs="0" name="stationEndLine" nillable="true" type="ax21:Station" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="stations" nillable="true" type="ax21:Station" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="stationsDates" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="stationsMessages" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="stationsPlatforms" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="stationsStops" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Perturbation">
        <xs:sequence>
          <xs:element minOccurs="0" name="cause" nillable="true" type="ax21:PerturbationCause" />
          <xs:element minOccurs="0" name="consequence" nillable="true" type="ax21:PerturbationConsequence" />
          <xs:element minOccurs="0" name="dateEnd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="dateStart" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="incidents" nillable="true" type="ax21:PerturbationIncident" />
          <xs:element minOccurs="0" name="level" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="line" nillable="true" type="ax21:Line" />
          <xs:element minOccurs="0" name="media" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="message" nillable="true" type="ax21:PerturbationMessage" />
          <xs:element minOccurs="0" name="source" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="station" nillable="true" type="ax21:Station" />
          <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="timeEnd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="timeStart" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PerturbationCause">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parentId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parentName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PerturbationConsequence">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="level" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PerturbationIncident">
        <xs:sequence>
          <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="incidentLines" nillable="true" type="ax21:PerturbationIncidentLine" />
          <xs:element minOccurs="0" name="messageGlobal" nillable="true" type="ax21:PerturbationMessage" />
          <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PerturbationIncidentLine">
        <xs:sequence>
          <xs:element minOccurs="0" name="consequence" nillable="true" type="ax21:PerturbationConsequence" />
          <xs:element minOccurs="0" name="line" nillable="true" type="ax21:Line" />
          <xs:element minOccurs="0" name="messageLarge" nillable="true" type="ax21:PerturbationMessage" />
          <xs:element minOccurs="0" name="messageMedium" nillable="true" type="ax21:PerturbationMessage" />
          <xs:element minOccurs="0" name="messageShort" nillable="true" type="ax21:PerturbationMessage" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="stations" nillable="true" type="ax21:Station" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PerturbationMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="mediaSpecific" type="xs:boolean" />
          <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="updated" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="WrMission">
        <xs:sequence>
          <xs:element minOccurs="0" name="ambiguityMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ambiguousLines" nillable="true" type="ax21:Line" />
          <xs:element minOccurs="0" name="argumentDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="argumentLine" nillable="true" type="ax21:Line" />
          <xs:element minOccurs="0" name="mission" nillable="true" type="ax21:Mission" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="WrMissions">
        <xs:sequence>
          <xs:element minOccurs="0" name="ambiguityMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ambiguousDirections" nillable="true" type="ax21:Direction" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ambiguousLines" nillable="true" type="ax21:Line" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ambiguousStations" nillable="true" type="ax21:Station" />
          <xs:element minOccurs="0" name="argumentDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="argumentDirection" nillable="true" type="ax21:Direction" />
          <xs:element minOccurs="0" name="argumentLine" nillable="true" type="ax21:Line" />
          <xs:element minOccurs="0" name="argumentStation" nillable="true" type="ax21:Station" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="missions" nillable="true" type="ax21:Mission" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="perturbations" nillable="true" type="ax21:Perturbation" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="WrPerturbations">
        <xs:sequence>
          <xs:element minOccurs="0" name="argumentMedia" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="argumentSource" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="perturbations" nillable="true" type="ax21:Perturbation" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="WrStations">
        <xs:sequence>
          <xs:element minOccurs="0" name="ambiguityMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ambiguousGeoPoints" nillable="true" type="ax21:GeoPoint" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ambiguousLines" nillable="true" type="ax21:Line" />
          <xs:element minOccurs="0" name="argumentDirection" nillable="true" type="ax21:Direction" />
          <xs:element minOccurs="0" name="argumentGeoPoint" nillable="true" type="ax21:GeoPoint" />
          <xs:element minOccurs="0" name="argumentLine" nillable="true" type="ax21:Line" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="distances" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="stations" nillable="true" type="ax21:Station" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ns="http://wsiv.ratp.fr" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://wsiv.ratp.fr">
      <xs:element name="getGeoPoints">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="gp" nillable="true" type="ns0:GeoPoint" />
            <xs:element minOccurs="0" name="limit" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getGeoPointsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ns0:GeoPoint" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getLines">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="line" nillable="true" type="ns0:Line" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getLinesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ns0:Line" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getDirections">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="line" nillable="true" type="ns0:Line" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getDirectionsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ns0:WrDirections" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getMission">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="mission" nillable="true" type="ns0:Mission" />
            <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="stationAll" type="xs:boolean" />
            <xs:element minOccurs="0" name="stationSortAlpha" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getMissionResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ns0:WrMission" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getMissionsFirstLast">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="station" nillable="true" type="ns0:Station" />
            <xs:element minOccurs="0" name="direction" nillable="true" type="ns0:Direction" />
            <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getMissionsFirstLastResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ns0:WrMissions" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getMissionsFrequency">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="station" nillable="true" type="ns0:Station" />
            <xs:element minOccurs="0" name="direction" nillable="true" type="ns0:Direction" />
            <xs:element minOccurs="0" name="stationEndLine" nillable="true" type="ns0:Station" />
            <xs:element minOccurs="0" name="stationEnd" nillable="true" type="ns0:Station" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="datesStart" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="datesEnd" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getMissionsFrequencyResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ns0:WrMissions" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getMissionsNext">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="station" nillable="true" type="ns0:Station" />
            <xs:element minOccurs="0" name="direction" nillable="true" type="ns0:Direction" />
            <xs:element minOccurs="0" name="dateStart" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="limit" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getMissionsNextResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ns0:WrMissions" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getPerturbations">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="perturbation" nillable="true" type="ns0:Perturbation" />
            <xs:element minOccurs="0" name="isXmlText" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getPerturbationsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ns0:WrPerturbations" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getStations">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="station" nillable="true" type="ns0:Station" />
            <xs:element minOccurs="0" name="gp" nillable="true" type="ns0:GeoPoint" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="distances" type="xs:int" />
            <xs:element minOccurs="0" name="limit" type="xs:int" />
            <xs:element minOccurs="0" name="sortAlpha" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getStationsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ns0:WrStations" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getVersionResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getMissionsFrequencyRequest">
    <wsdl:part name="parameters" element="ns1:getMissionsFrequency" />
  </wsdl:message>
  <wsdl:message name="getMissionsFrequencyResponse">
    <wsdl:part name="parameters" element="ns1:getMissionsFrequencyResponse" />
  </wsdl:message>
  <wsdl:message name="getMissionsFirstLastRequest">
    <wsdl:part name="parameters" element="ns1:getMissionsFirstLast" />
  </wsdl:message>
  <wsdl:message name="getMissionsFirstLastResponse">
    <wsdl:part name="parameters" element="ns1:getMissionsFirstLastResponse" />
  </wsdl:message>
  <wsdl:message name="getVersionRequest" />
  <wsdl:message name="getVersionResponse">
    <wsdl:part name="parameters" element="ns1:getVersionResponse" />
  </wsdl:message>
  <wsdl:message name="getLinesRequest">
    <wsdl:part name="parameters" element="ns1:getLines" />
  </wsdl:message>
  <wsdl:message name="getLinesResponse">
    <wsdl:part name="parameters" element="ns1:getLinesResponse" />
  </wsdl:message>
  <wsdl:message name="getStationsRequest">
    <wsdl:part name="parameters" element="ns1:getStations" />
  </wsdl:message>
  <wsdl:message name="getStationsResponse">
    <wsdl:part name="parameters" element="ns1:getStationsResponse" />
  </wsdl:message>
  <wsdl:message name="getMissionsNextRequest">
    <wsdl:part name="parameters" element="ns1:getMissionsNext" />
  </wsdl:message>
  <wsdl:message name="getMissionsNextResponse">
    <wsdl:part name="parameters" element="ns1:getMissionsNextResponse" />
  </wsdl:message>
  <wsdl:message name="getDirectionsRequest">
    <wsdl:part name="parameters" element="ns1:getDirections" />
  </wsdl:message>
  <wsdl:message name="getDirectionsResponse">
    <wsdl:part name="parameters" element="ns1:getDirectionsResponse" />
  </wsdl:message>
  <wsdl:message name="getMissionRequest">
    <wsdl:part name="parameters" element="ns1:getMission" />
  </wsdl:message>
  <wsdl:message name="getMissionResponse">
    <wsdl:part name="parameters" element="ns1:getMissionResponse" />
  </wsdl:message>
  <wsdl:message name="getPerturbationsRequest">
    <wsdl:part name="parameters" element="ns1:getPerturbations" />
  </wsdl:message>
  <wsdl:message name="getPerturbationsResponse">
    <wsdl:part name="parameters" element="ns1:getPerturbationsResponse" />
  </wsdl:message>
  <wsdl:message name="getGeoPointsRequest">
    <wsdl:part name="parameters" element="ns1:getGeoPoints" />
  </wsdl:message>
  <wsdl:message name="getGeoPointsResponse">
    <wsdl:part name="parameters" element="ns1:getGeoPointsResponse" />
  </wsdl:message>
  <wsdl:portType name="WsivPortType">
    <wsdl:operation name="getMissionsFrequency">
      <wsdl:input wsaw:Action="urn:getMissionsFrequency" message="ns1:getMissionsFrequencyRequest" />
      <wsdl:output wsaw:Action="urn:getMissionsFrequencyResponse" message="ns1:getMissionsFrequencyResponse" />
    </wsdl:operation>
    <wsdl:operation name="getMissionsFirstLast">
      <wsdl:input wsaw:Action="urn:getMissionsFirstLast" message="ns1:getMissionsFirstLastRequest" />
      <wsdl:output wsaw:Action="urn:getMissionsFirstLastResponse" message="ns1:getMissionsFirstLastResponse" />
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <wsdl:input wsaw:Action="urn:getVersion" message="ns1:getVersionRequest" />
      <wsdl:output wsaw:Action="urn:getVersionResponse" message="ns1:getVersionResponse" />
    </wsdl:operation>
    <wsdl:operation name="getLines">
      <wsdl:input wsaw:Action="urn:getLines" message="ns1:getLinesRequest" />
      <wsdl:output wsaw:Action="urn:getLinesResponse" message="ns1:getLinesResponse" />
    </wsdl:operation>
    <wsdl:operation name="getStations">
      <wsdl:input wsaw:Action="urn:getStations" message="ns1:getStationsRequest" />
      <wsdl:output wsaw:Action="urn:getStationsResponse" message="ns1:getStationsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getMissionsNext">
      <wsdl:input wsaw:Action="urn:getMissionsNext" message="ns1:getMissionsNextRequest" />
      <wsdl:output wsaw:Action="urn:getMissionsNextResponse" message="ns1:getMissionsNextResponse" />
    </wsdl:operation>
    <wsdl:operation name="getDirections">
      <wsdl:input wsaw:Action="urn:getDirections" message="ns1:getDirectionsRequest" />
      <wsdl:output wsaw:Action="urn:getDirectionsResponse" message="ns1:getDirectionsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getMission">
      <wsdl:input wsaw:Action="urn:getMission" message="ns1:getMissionRequest" />
      <wsdl:output wsaw:Action="urn:getMissionResponse" message="ns1:getMissionResponse" />
    </wsdl:operation>
    <wsdl:operation name="getPerturbations">
      <wsdl:input wsaw:Action="urn:getPerturbations" message="ns1:getPerturbationsRequest" />
      <wsdl:output wsaw:Action="urn:getPerturbationsResponse" message="ns1:getPerturbationsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getGeoPoints">
      <wsdl:input wsaw:Action="urn:getGeoPoints" message="ns1:getGeoPointsRequest" />
      <wsdl:output wsaw:Action="urn:getGeoPointsResponse" message="ns1:getGeoPointsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsivSOAP11Binding" type="ns1:WsivPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getMissionsFrequency">
      <soap:operation soapAction="urn:getMissionsFrequency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMissionsFirstLast">
      <soap:operation soapAction="urn:getMissionsFirstLast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <soap:operation soapAction="urn:getVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLines">
      <soap:operation soapAction="urn:getLines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStations">
      <soap:operation soapAction="urn:getStations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMissionsNext">
      <soap:operation soapAction="urn:getMissionsNext" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDirections">
      <soap:operation soapAction="urn:getDirections" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMission">
      <soap:operation soapAction="urn:getMission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPerturbations">
      <soap:operation soapAction="urn:getPerturbations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGeoPoints">
      <soap:operation soapAction="urn:getGeoPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsivSOAP12Binding" type="ns1:WsivPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getMissionsFrequency">
      <soap12:operation soapAction="urn:getMissionsFrequency" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMissionsFirstLast">
      <soap12:operation soapAction="urn:getMissionsFirstLast" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <soap12:operation soapAction="urn:getVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLines">
      <soap12:operation soapAction="urn:getLines" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStations">
      <soap12:operation soapAction="urn:getStations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMissionsNext">
      <soap12:operation soapAction="urn:getMissionsNext" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDirections">
      <soap12:operation soapAction="urn:getDirections" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMission">
      <soap12:operation soapAction="urn:getMission" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPerturbations">
      <soap12:operation soapAction="urn:getPerturbations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGeoPoints">
      <soap12:operation soapAction="urn:getGeoPoints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsivHttpBinding" type="ns1:WsivPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="getMissionsFrequency">
      <http:operation location="Wsiv/getMissionsFrequency" />
      <wsdl:input>
        <mime:content part="getMissionsFrequency" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getMissionsFrequency" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMissionsFirstLast">
      <http:operation location="Wsiv/getMissionsFirstLast" />
      <wsdl:input>
        <mime:content part="getMissionsFirstLast" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getMissionsFirstLast" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <http:operation location="Wsiv/getVersion" />
      <wsdl:input>
        <mime:content part="getVersion" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getVersion" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLines">
      <http:operation location="Wsiv/getLines" />
      <wsdl:input>
        <mime:content part="getLines" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getLines" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStations">
      <http:operation location="Wsiv/getStations" />
      <wsdl:input>
        <mime:content part="getStations" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getStations" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMissionsNext">
      <http:operation location="Wsiv/getMissionsNext" />
      <wsdl:input>
        <mime:content part="getMissionsNext" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getMissionsNext" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDirections">
      <http:operation location="Wsiv/getDirections" />
      <wsdl:input>
        <mime:content part="getDirections" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getDirections" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMission">
      <http:operation location="Wsiv/getMission" />
      <wsdl:input>
        <mime:content part="getMission" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getMission" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPerturbations">
      <http:operation location="Wsiv/getPerturbations" />
      <wsdl:input>
        <mime:content part="getPerturbations" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getPerturbations" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGeoPoints">
      <http:operation location="Wsiv/getGeoPoints" />
      <wsdl:input>
        <mime:content part="getGeoPoints" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getGeoPoints" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Wsiv">
    <wsdl:port name="WsivSOAP11port_http" binding="ns1:WsivSOAP11Binding">
      <soap:address location="http://opendata-tr.ratp.fr/wsiv/services/Wsiv" />
    </wsdl:port>
    <wsdl:port name="WsivSOAP12port_http" binding="ns1:WsivSOAP12Binding">
      <soap12:address location="http://opendata-tr.ratp.fr/wsiv/services/Wsiv" />
    </wsdl:port>
    <wsdl:port name="WsivHttpport" binding="ns1:WsivHttpBinding">
      <http:address location="http://opendata-tr.ratp.fr/wsiv/services/Wsiv" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>